body {
  font-family: helvetica, sans-serif;
  text-align: center;
  width: 100%;
  background-color: #2F4F4F;
  display: block;
}

label {
  font-weight: bold;  
}

div {
  padding-bottom: 20px;
}

input[type="text"] {
  padding: 5px;
  width: 150px;
}

.title-container {
  width: 100%;
  display: block;
  text-align: center;
}

.title {
  width: 500px;
  height: auto;
  background-color: #FFC125;
  margin: 0 auto;
}

.title-content {
  background-color: #fff;
  margin: 15px;
  top: 15px;
  padding: 10px;
  position: relative;
}

.title-content p {
  padding: 0;
  line-height: 1.5em;
  visibility: visible;
  background-color: #fff;
  color: #000;
  text-align: left;
  width: 100%;
  margin-top: 0;
}

.title-content li {
  text-align: left;
}

.story-container {
  width: 100%;
  text-align: center;
  display: block;
  visibility: hidden;
}

.paragraph {
  background-color: #FFC125;
  width: 500px;
  margin: 25px;
  top: 25px;
  padding: 10px;
  display: block;
  position: relative;
  margin: 0 auto;
}

p {
  background-color: #fff;
  color: #5E2612;
  line-height: 1.5em;
  padding: 10px;
  margin: 0 auto;
  margin-top: 5px;
  position: relative;
  display: inline-block;
  visibility: hidden;
  text-align: left;
}

li {
  display: inline-block;
  list-style: none;
  padding: 0px;
  color: #000;
  font-size: 36px;
  margin: 5px;
  text-align: center;
  margin-right: 15px;
}

a {
  text-decoration: none;
  color: #000;
}