body {
	height: 100%;
	text-align: center;
	display: block;
	background-color: #000;
}

.container {
	width: 650px;
	margin: 0 auto;
	margin-top: 150px;
	display: inline-block;
	background-color: rgb(47,79,79, 0.3);
	color: #fff;
	padding: 12px;
}

h1 {
	text-transform: uppercase;
}

.inner-container {
	text-align: center;
	display: block;
	width: 600px;
	margin: 0 auto;
	background-color: gray;
}

.content {
	padding: 12px;
}

a {
	text-decoration: none;
	color: #fff;
}