@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(http://themes.googleusercontent.com/static/fonts/sourcecodepro/v4/mrl8jkM18OlOQN8JLgasDxM0YzuT7MdOe03otPbuUS0.woff) format('woff');
}

body {
    font-family: Source Code;
    background: rgb(0, 0, 0);
    color: #00FF00;
    margin:0;
    font-size: 14px;
}

#main {
	display: block;
	text-align: center;
	margin-top: 50px;
	font-size: 36px;
	width: 100%;
}

#container {
	display: inline-block;
	text-align: center;	
	border-style: dashed;
	width: 900px;
}

#title {
	padding: 25px;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 60px;
}

#board {
border-style: dashed;
}

#input {
	padding: 25px;
}

#output {
	padding: 25px;
	border-top: dashed;
}

#encrypt {
	overflow-wrap: break-word;
	text-align: left;
}

ul {
	list-style: none;
	display: inline-block;
}

a {
	text-decoration: none;
	color: #00FF00;
}