body {
  background-color: #141c3a;
  overflow: hidden;
  font-family: 'Nunito';
}

#container {
  width: 300px;
  height: 100%;
  margin: 0 auto;
}

button {
  background-color: lightgrey;
  border: none;
  margin: 0 auto;
  margin-top: 10px;
  margin-left: 10px;
  width: 125px;
  font-weight: bold;
}

#door {
  margin: 0 auto;
  margin-top: 50px;
  height: 500px;
  width: 300px;
  background-color: brown;
  padding: 15px 0px 10px 0px;
}

.door-knob {
  height: 25px;
  width: 25px;
  margin-left: 265px;
  top: 200px;
  position: relative;
  background-color: #ffc63f;
  border-radius: 100%;
  
}

.door-top {
  height: 150px;
  width: 225px;
  background-color: brown;
  border: 2px #ffc63f solid;
  display: block;
  margin: 0 auto;
}

#door-status {
  height: 36px;
  width: 125px;
  text-align: center;
  background-color: white;
  border: 5px #ffc63f solid;
  display: relative;
  margin: 0 auto;
  margin-top: 36px;
}

.door-bot {
  height: 256px;
  width: 225px;
  background-color: brown;
  border: 2px #ffc63f solid;
  display: block;
  margin: 0 auto;
  margin-top: 49px;
}